<div class="Container" style="color:whitesmoke; background-color: #0bc1f9; padding: 10px;">
    <div class="row">
        <div class="col-md-10">
            <h1 style="color: black; margin-left: 30px;">About Pharmacy</h1>
        </div>
        <div class="col-md-2">
            <button type="button" [routerLink]="['/home']" style="padding: 5px; width:80px; margin: 10px;" class="btn btn-primary">Back</button>
        </div>
    </div>
</div>
<div class="container" >
    <div class="bgrim">
       
        <p>
            1.Pharmacare promises to be one of the powerful and economic systems in the marketplace for any size pharmacy
            operation.
            It also handles some of the advanced reports, like virtual inventory management. Pharmacare always ensures that
            your
            pharmacy will stand up to the audits, handles all the bills from payers, suppliers, and others.
        </p>
        <p>
            2.Several different merchandises within this medicine industry still need various hardware, software, support to
            improve
            their software packages. Hence our system is committed to serve the most dynamic solutions to reduce initial
            infrastructure outlay and maximize support desires.
        </p>
    </div>
</div>


<div class="Container" style="color:whitesmoke; text-align: center;  background-color: #0bc1f9; padding: 10px;">
    <footer><span class="text-danger"><strong>This site is copyright & copy;to LTI.All rights are reserved
                here..</strong></span></footer>
</div>