@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #00ac96;
   
}

.content {
    height: 490px;
    margin: 3%;
    background-color: #e0f0f3;
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

.boxContainer{
    background-color: white;
    position: relative;
    top:-40px;
    width:300px;
    height:50px;
    border:4px solid #2980b9;
    padding: 4px 5px;
    border-radius: 50px;
}
.elementsContainer{
    width:100%;
    height:100%;
    vertical-align: middle;
}
.Search{
    border: none;
    border-radius: 50px;
    height:100%;
    width:100%;
    padding:0px 5px;
    font-size: 18px;
    font-family: "Nunito";
    color:#424242;
    font-weight: 500;
}
.Search:focus{
    outline:none;
}
#material-icons{
    font-size: 26;
    color: #2980b9;
}

th{
    border-radius: solid;
    border-width: 1px;
    border-color: #a7f4b3;
}

.container .drugstable{
    width:100%;
    height:100%;
    overflow-y: scroll;
    
}
#footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 50px;
    background: grey;
  }