<div class="Container" style="color:whitesmoke; background-color: #0bc1f9; padding: 10px;">
    <div class="row">
        <div class="col-md-10">
            <h1 style="color: black; text-align: center; margin-left: 30px;">Suppliers</h1>
        </div>
        <div class="col-md-2">
            <button type="button" [routerLink]="['/home']" style="padding: 5px; width:80px; margin: 10px;"
                class="btn btn-primary">Logout</button>
                <button type="button" [routerLink]="['/admin']" style="padding: 5px; width:80px; margin: 10px;"
                            class="btn btn-primary">back</button>

        </div>
    </div>
</div>

<div class="rowcontent"  >
    <div class="container">
        <div class="row content">
            <div class="boxContainer">
                <table id="elementsContainer" class="col-md-8">
                    <tr>
                        <td>
                            <input type="text" placeholder="Search Drug" class="Search">
                        </td>
                        <td>
                            <a href="#"><i class="fa-solid fa-magnifying-glass-plus" id="material-icons"></i></a>
                        </td>
                    </tr>
                </table>
                <div id="addsupplier" class="col-md-2">

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        AddSupplier
                    </button>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Add Supplier</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="post">
                                        <div class="col">
                                            <label for="validationCustom01" class="form-label">Name</label>
                                            <input type="text" class="form-control" id="validationCustom01"  required>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                        </div>
                                        <div class="col">
                                            <label for="validationCustom02" class="form-label">Email</label>
                                            <input type="Email" class="form-control" id="validationCustom02"  required>
                                            <div class="valid-feedback">
                                                Looks good!
                                            </div>
                                        </div>
                                        
                                       
                                        <div class="col">
                                            <label for="validationCustom05" class="form-label">contact</label>
                                            <input type="text" class="form-control" id="validationCustom05" required>
                                            <div class="invalid-feedback">
                                                Please provide a valid zip.
                                            </div>
                                        </div>
                                        
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <br>
        
            <div class="drugstable">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                <h4>Supplier Id</h4>
                            </th>
                            <th>
                                <h4>Supplier Name</h4>
                            </th>
                            <th>
                                <h4>Supplier Email</h4>
                            </th>
                            <th>
                                <h4>Supplier Contact</h4>
                            </th>
                            <th>
                                <h4>Action</h4>
                            </th>
    
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let supplier of Suppliers">
                        
                            <td>
                                {{supplier.SupplierId}}
    
                            </td>
                            <td>
                                {{supplier.SupplierName}}
    
                            </td>
                            <td>
                                {{supplier.EmailID}}
                            </td>
                            <td>
                                {{supplier.Contact}}
                            </td>
                            <td>
                                <button type="button" id=edit [routerLink]="['/home']"><i class="fa-solid fa-pen-to-square"></i></button>
                                <button type="button" id=delete [routerLink]="['/home']"><i class="fa-solid fa-person-circle-minus"></i></button>
                            </td>
    
                        </tr>
                    </tbody>
    
                </table>
            </div>
        </div>
    
    </div>

</div>
<div class="Container" style="color:whitesmoke; text-align: center;  background-color: #0bc1f9; padding: 10px;">
    <footer><span class="text-danger"><strong>This site is copyright & copy;to LTI.All rights are reserved
                here..</strong></span></footer>
</div>
