@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #e91e63;

    
}

.content {
    height: 490px;
   
    margin: 3%;background-color: #c2e1ef;
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
 
}

.boxContainer {
    background-color: white;
    position: relative;
    top: -40px;
    width: 300px;
    height: 50px;
    border: 4px solid #2980b9;
    padding: 4px 5px;
    border-radius: 50px;
}

#elementsContainer {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    color: aliceblue;
}
#addsupplier{
    position: relative;
    top: -34px;
    left: 1000px;
}

.Search {
    border: none;
    border-radius: 50px;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    font-size: 18px;
    font-family: "Nunito";
    color: #424242;
    font-weight: 500;
}

.Search:focus {
    outline: none;
}

#material-icons {
    font-size: 26;
    color: #2980b9;
}

/* th{
    position:sticky;
    top:0px;
} */
.container .drugstable {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    

}
th{
    border: solid;
}
#edit{
    padding: 5px;
    width:50px;
    border-radius: 5px;
    border-color: blue;
    border-width: 10px;
    border: solid;
    color:blue;
    margin:0px 10px;
}
#delete{
    padding: 5px;
    width: 50px;
    border-radius: 5px;
    border-color: blue;
    border-width: 10px;
    border: solid;
    color: red;
    margin: 0px 10px;
}