<div class="start" style=" overflow: hidden;">
    <div class="Container" style="color:whitesmoke;  background-color:rgb(187, 243, 250); padding: 10px;">
        <div class="row">
            <div class="col-md-8">
                <div class="row" style="height:40px; margin:10px;">
                    <img class="logo" src="../assets/images/login.jpg" alt="">
                    <h1
                        style="color: red; margin-left: 25px; position: relative; top:-45px; left:40px; font-style: italic;">
                        Pharmacy</h1>

                </div>
                

            </div>
            <div class="col-md-4">
                <!-- <button type="button" [routerLink]="['/home']" style="padding: 5px; width:80px; margin: 10px;"
                    class="btn btn-primary">Home</button> -->
                <button type="button" [routerLink]="['/about']" style="padding: 5px; width:80px; margin: 10px;"
                    class="btn btn-info">About</button>
                    <div class="space"></div>
                <button [routerLink]="['/login']" style=" width:80px; margin: 10px;" id="login">Login</button>
                <div class="space"></div>
                <button [routerLink]="['/signup']" style=" width:80px; margin: 10px;"id="signup">SignUp</button>

            </div>
        </div>
    </div>

    <div class="bodyimg"
        style="background-image: url(../assets/images/home.jpeg); height: 665px; background-size:cover; ">
        <p>
            “It is <span>easy</span> to get a thousand <span>prescriptions</span>, but <span>hard</span> to get one
            single remedy.”
        </p>
    </div>


    <!--footer starts from here-->
    <div class="Container" id="footer"
        style="color:black; text-align: center;  background-color: #0bc1f9; padding: 10px;">
        <footer><strong>Pharmacy Management System - Contact:- vtu14698@veltech.vtu.in</strong>
        </footer>
    </div>
</div>