<div class="Container" style="color:whitesmoke; background-color:rgb(187, 243, 250); padding: 10px;">
    <div class="row">
        <div class="col-md-8">
            <div class="row" style="height:40px; margin:10px;">
                <img class="logo" src="../assets/images/login.jpg" alt="">
                <h1 style="color: black; margin-left: 30px; position: relative; top:-45px; left:40px; font-style: italic;">Pharmacy</h1>
                
            </div>
            
        </div>
        <div class="col-md-4">
            <button type="button" [routerLink]="['/home']" style="padding: 5px; width:80px; margin: 10px;" class="btn btn-primary">Home</button>
            <button type="button" [routerLink]="['/about']" style="padding: 5px; width:80px; margin: 10px;" class="btn btn-primary">About</button>
            <button  [routerLink]="['/login']" id="login">Login</button>
            <button  [routerLink]="['/signup']" id="signup">SignUp</button>
            
        </div>
    </div>
</div>

<div class="bodyimg" style="background-image: url(../assets/images/home.jpeg); height:580px; background-size: cover; ">
    <p>
        “It is <span>easy</span> to get a thousand <span>prescriptions</span>, but <span>hard</span> to get one single remedy.”
    </p>
</div>


<div class="Container" style="color:whitesmoke; text-align: center;  background-color:lightskyblue; padding: 10px;">
    <footer><span class="text-body"><strong>This site is copyright & copy;to LTI.All rights are reserved here..</strong></span></footer>
</div>  