<div class="start" style="overflow: hidden;">
    <div class="Container" style="color:whitesmoke; background-color: #0bc1f9; padding: 10px;">
        <div class="row">
            <div class="col-md-10">
                <h1 style="text-align: center;  color: black; margin-left: 30px;">Sign Up Page</h1>
            </div>
            <div class="col-md-2">
                <button type="button" [routerLink]="['/home']" style="padding: 5px; width:80px; margin: 10px;"
                    class="btn btn-primary">Back</button>
                    <div class="space">

                    </div>
                <img class="logo" style="width: 60px; height: 50px;" src="../assets/images/login.jpg" alt="">
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row content">
            <div class="col-md-6 mb-3">
                <img src="../assets/images/loginimage.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-6 mb-3">
                <h3 class="Login-text mb-3">Sign Up</h3>
                <form class="col s12 white" #userRegistrationForm="ngForm">
                    <div class="form-group">
                      <label>Doctor Name*</label>
                      <input type="text" name="DoctorName" class="form-control" #name="ngModel" [(ngModel)]="doctor.DoctorName">
            
            
            
                      <label>Doctor Id*</label>
                      <input type="text" name="DoctorId" class="form-control" #Doctorid="ngModel" [(ngModel)]="doctor.DoctorId">
            
            
            
                      <label for="email">Email*</label>
                      <input type="email" name="EmailID" class="form-control" #email="ngModel" [(ngModel)]="doctor.EmailID">
            
            
            
                      <label>Contact*</label>
                      <input type="text" name="Contact" class="form-control" #contact="ngModel" [(ngModel)]="doctor.Contact">
            
            
            
                      <label>Address*</label>
                      <input type="text" name="Address" class="form-control" #address="ngModel" [(ngModel)]="doctor.Address">
            
            
            
                      <label for="password">Password*</label>
                      <input type="password" name="Password" class="form-control" #password="ngModel" [(ngModel)]="doctor.Password">
                    </div>
                    <br>
                    <div class="row">
                      <div class="input-field col s12">
                        <button class="btn-large btn-submit" type="submit" (click)="OnSubmit(userRegistrationForm)">Submit</button>
                      </div>
                    </div>
                  </form>
            </div>
        </div>
    </div>
    
    
    
    <div class="Container" id="footer"
    style="color:black; text-align: center;  background-color: #0bc1f9; padding:10px;">
    <footer><strong>Pharmacy Management System - Contact:- vtu14698@veltech.vtu.in</strong>
    </footer>
  </div>
    
    
</div>